@charset "utf-8";
@import"./reset.css";

body {
    font-family: "Playfair", "Montserrat";
    font-size: 18;
    background-color: #CFC7D9;
    color: #fff;
}

.container{
    width:min(100% - 30px, 1080px);
    margin-inline: auto;
}
